<div class="row justify-content-center">
    {% if editmode %}
        <h3 class="float-strat">{{ 'Footer Column(s):' }}</h3>
    {% endif %}
    {% for i in pimcore_iterate_block(pimcore_block('mainlinkblock')) %}
        <div class="col-2">
            <p><strong>{{ pimcore_input('mainBlockTitle', {'placeholder': 'Footer Title'}) }}</strong></p>
            {% for i in pimcore_iterate_block(pimcore_block('linkblock')) %}
                <p>{{ pimcore_link('mainBlockLink', {'class': ""}) }}</p>
            {% endfor %}
        </div>
        {% if editmode %}
            <hr />
        {% endif %}
    {% endfor %}
</div>

{% if editmode %}
    <h3 class="float-strat">{{ 'Footer Text:' }}</h3>
{% endif %}
<p class="text-center mt-4"><strong>{{ pimcore_input('madeTitle', {'placeholder': 'Made with LOVE in Sweden'}) }}</strong></p>
{% if editmode %}
    <hr />
{% endif %}

{% if editmode %}
    <h3 class="float-strat">{{ 'Media icon(s):' }}</h3>
{% endif %}
<div class="d-flex justify-content-center mt-4">
    {% for i in pimcore_iterate_block(pimcore_block('mediablock')) %}
        {% if editmode %}
            {{ pimcore_link('mediaLink', {'noText': true}) }}
            {{ pimcore_image('mediaimage', {
                'title': 'Drag your image here',
                'width': 100,
                'height': 100,

            }) }}
            <hr />
        {% else %}
            <a href="{{ pimcore_link('mediaLink').href }}" class="me-2" role="button">
                {{ pimcore_image('mediaimage',{
                    'width': 20,
                    'height': 20,
                    'removeAttributes': ['title'],
                    'alt': 'media-icon'
                }) }}
            </a>
        {% endif %}
    {% endfor %}
</div>
