<div>
    {# Button trigger locale modal #}
    <button type="button" class="btn px-0 mt-2" data-bs-toggle="modal" data-bs-target="#localeModal">{{ 'language' | trans }}: <u>{{ 'language_name' | trans }}</u></button>

    {# Locale modal #}
    <div class="modal fade" id="localeModal" tabindex="-1" aria-labelledby="Locale modal" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row p-5">
                    <div class="d-flex">
                        <div class="col-6">
                            <div class="nav flex-column nav-pills align-items-start" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                <h3>{{ 'region' | trans }}</h3>
                                <button class="nav-link {% if app.request.locale == 'sv' %}active{% endif %}" id="v-pills-europe-tab" data-bs-toggle="pill" data-bs-target="#v-pills-europe" type="button" role="tab" aria-controls="v-pills-europe" aria-selected="true">{{ 'europe' | trans }}</button>
                                <button class="nav-link {% if app.request.locale == 'en' %}active{% endif %}" id="v-pills-usa-tab" data-bs-toggle="pill" data-bs-target="#v-pills-usa" type="button" role="tab" aria-controls="v-pills-usa" aria-selected="true">{{ 'the_united_states_,_canada' | trans }}</button>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="tab-content" id="v-pills-tabContent">
                                <h3>{{ 'language' | trans }}</h3>
                                <div class="tab-pane fade {% if app.request.locale == 'sv' %}show active{% endif %}" id="v-pills-europe" role="tabpanel" aria-labelledby="v-pills-europe-tab">
                                    <div class="btn-group-vertical">
                                        <a class="mb-2" href="/sv">
                                            <button type="button" class="btn {{ (app.request.locale == 'sv') ? 'btn-primary' :  'btn-light' }}">Svenska</button>
                                        </a>
                                        <a href="/en">
                                            <button type="button" class="btn {{ (app.request.locale == 'en') ? 'btn-primary' :  'btn-light' }}">English</button>
                                        </a>
                                    </div>
                                </div>

                                <div class="tab-pane fade {% if app.request.locale == 'en' %}show active{% endif %}" id="v-pills-usa" role="tabpanel" aria-labelledby="v-pills-usa-tab">
                                    <div class="btn-group-vertical">
                                        <a href="/en">
                                            <button type="button" class="btn {{ (app.request.locale == 'en') ? 'btn-primary' :  'btn-light' }}">English</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
