<div class="row text-center">
    {% if editmode %}
        <h3 class="float-strat">{{ 'Footer Column(s):' }}</h3>
    {% endif %}
    {% for i in pimcore_iterate_block(pimcore_block('mainlinkblock')) %}
        <div class="col-12 col-lg-2 mb-3 mb-lg-0">
            <p class="fw-bold m-0">{{ pimcore_input('mainBlockTitle', {'placeholder': 'Footer Title'}) }}</p>
            {% for i in pimcore_iterate_block(pimcore_block('linkblock')) %}
                <p class="m-0">{{ pimcore_link('mainBlockLink', {'class': "text-decoration-none link-dark"}) }}</p>
            {% endfor %}
        </div>
        {% if editmode %}
            <hr />
        {% endif %}
    {% endfor %}
</div>

{% if editmode %}
    <h3 class="float-strat">{{ 'Footer Text:' }}</h3>
{% endif %}
<p class="text-center mt-4 fw-bold">{{ pimcore_input('madeTitle', {'placeholder': 'Made with LOVE in Sweden'}) }}</p>
