{# get the document which should be used to start in navigation | default home #}
{% set navStartNode = document.getProperty('navigation_root') %}

{% if not navStartNode is instanceof('\\Pimcore\\Model\\Document') %}
    {% set navStartNode = pimcore_document(1) %}
{% endif %}

{% set mainNavigation = pimcore_build_nav({
    active: document,
    root: navStartNode
}) %}


<nav class="navbar navbar-expand-lg navbar-light sticky-top py-4">
    {# Logo Image #}
    <a class="d-lg-none mx-auto" href="{{ navStartNode }}">
        <img id="logoMobile" src="{{ asset('/static/images/logo.svg') }}" width="148" height="18" alt="logo"
             loading="lazy">
    </a>

    <button class="navbar-toggler border-0 mys__not-focusable" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <img id="navbarTogglerIconOpen" src="{{ asset('/static/images/icons/navbar-toggler-icon-open.svg') }}"
             width="16" height="8" alt="navbarTogglerIcon" aria-label="Open" loading="lazy">
        <img id="navbarTogglerIconClose" src="{{ asset('/static/images/icons/navbar-toggler-icon-close.svg') }}"
             width="16" height="16" alt="navbarTogglerIcon" aria-label="Close" loading="lazy">
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
        <div class="d-flex justify-content-center py-5">
            <ul class="navbar-nav flex-column text-center">
                {# Logo Image #}
                <li class="nav-item mb-4 mt-5 d-none d-lg-block">
                    <a href="{{ navStartNode }}">
                        <img id="logo" src="{{ asset('/static/images/logo.svg') }}" width="120" height="70" alt="logo"
                             loading="lazy">
                    </a>
                </li>

                {# Links #}
                <div class="mt-4">
                    {% for link in mainNavigation | filter(link => link.visible == true) %}
                        <li class="nav-item ps-4">
                            <a class="nav-link text-dark {% if link.active %}fw-bold active{% endif %}"
                               href="{{ link.uri }}">{{ link.label }}</a>
                        </li>
                    {% endfor %}
                </div>

                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

                    {# Signout link #}
                    <li class="nav-item btn-primary rounded-pill px-4">
                        <a class="nav-link text-light"
                           href="{{ path('account_logout') }}">{{ 'signout'|trans }}</a>
                    </li>

                {% else %}

                    {# Login & Signup Links #}
                    <li class="nav-item mt-4">
                        <a class="nav-link text-dark {{ app.request.get('_route') == 'account_login' ? 'fw-bold active' }}"
                           href="{{ path('account_login') }}">{{ 'login'|trans }}</a>
                    </li>
                    <li class="nav-item btn-primary rounded-pill px-4">
                        <a class="nav-link text-light {{ app.request.get('_route') == 'account_register' ? 'fw-bold active' }}"
                           href="{{ path('account_register') }}">{{ 'signup'|trans }}</a>
                    </li>

                {% endif %}
            </ul>
        </div>
    </div>
</nav>
